<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p> Authorization </p>
    <form method="POST">
    {% for field in form %}

        <br>{{ field.label }} : {{ field }}

    {% endfor %}
        <br>
    {% for key, value in errors.items() %}
        {{ key }} : {{ value }}
            {% if key == 'username'%}
                <a href="/registration/"> registration</a><br>
            {%endif%}
    {% endfor %}
        <input type="submit">
    </form>
</body>
</html>