<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>Main Page</p>
    {% for question in questions %}
        <li>{{question.Users.username}} : <a href="/question/{{ question.Questions.id }}/">{{question.Questions.text_question}} </a></li>
    {% endfor %}
        <br>

    {% if not user_active %}
       <form method="GET" action="/registration/">
            <input type="submit" value="Registration">
       </form>
        <form method="GET" action="/auth/">
            <input type="submit" value="Authorization">
       </form>
    {% endif %}

    {% if user_active %}
        <form method="POST">
            <p>Make question - </p>
            <input type="text" name="question">
            <input type="submit">
        </form>
        <form method="GET" action="/exit/">
            <input type="submit" value="Exit">
        </form>
    {% endif %}

</body>
</html>