<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet", media="screen">
    <script type="text/javascript" src="/static/jquery.min.js"> </script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <p> Authorization </p>
    <form method="POST">
        {% for field in form %}
            <br>{{ field.label }} : {{ field }}
        {% endfor %}

        <br>

        {% for key, value in errors.items() %}
            {{ key }} : {{ value }}
                {% if key == 'username'%}
                    <a href="/registration/"> registration</a><br>
                {%endif%}
        {% endfor %}

        <input type="submit">
    </form>
</body>
</html>