{% extends 'base.html' %}

    {% block title %}
        Welcome to my simple forum
    {% endblock %}

    {% block name_page %}
        <p class="lead">Authorization</p>
    {% endblock %}

    {% block content %}
        <script src="/static/hide_authorization_button.js"></script>

        <form method="POST">
            {% for field in form %}
                <p>{{ field.label }} : {{ field }}</p>
            {% endfor %}
            <input class="btn btn-default" type="submit">
        </form>

            {% for key, value in errors.items() %}
                {{ key }} : {{ value }}
                {% if key == 'username'%}
                    <a href="/registration/"> registration</a><br>
                {%endif%}
            {% endfor %}
    {% endblock %}

</body>
</html>