{% extends 'base.html' %}
    {% block title %}
        Welcome to my simple forum
    {% endblock %}

    {% block name_page %}
        <p class="lead">Main Page</p>
    {% endblock %}

    {% block content %}
        {% for question in questions %}
            <li>{{question.Users.username}} : <a href="/question/{{ question.Questions.id }}/">{{question.Questions.text_question}} </a></li>
        {% endfor %}
    {% endblock %}

    {% block make_question %}
        <form method="POST">
            Ask - <input type="text" name="question">
            <button class="btn btn-default" type="submit">Send</button>
        </form>
    {% endblock %}
