{% extends 'base.html' %}


{% block title %}
    Welcome to my simple forum
{% endblock %}

{% block name_page %}
    <script type="text/javascript" src="/static/vote.js"></script>
    <p class="lead">Question: {{ question.text_question }}</p>
{% endblock %}

{% block make_answer %}
        {% if user.is_authenticated() %}
            {% for answer in answers %}
                <li data-answer_id="{{ answer.Answers.id }}">{{ answer.Users.username }} : {{ answer.Answers.text_answer }}
                    (<span class="count_votes">{{ answer.Answers.votes }}</span>)
                    | vote <input type="checkbox" class="send-vote" {% if answer.Answers.id in voted_answers %}checked{% endif %}>
                </li>
            {% endfor %}
            <p>Enter Answer</p>

            <form method="POST" id="send-form">
                <input type="text" name="answer">
                <input type="submit">
            </form>
            
        {% else %}
            {% for answer in answers %}
                <li data-answer_id="{{ answer.Answers.id }}">{{ answer.Users.username }} : {{ answer.Answers.text_answer }}
                (<span class="count_votes">{{ answer.Answers.votes }}</span>)
            {% endfor %}
        {% endif %}
{% endblock %}

        <form method="GET" action='/'>
            <input type="submit" value="Main page">
        </form>
