<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <p>Question: {{ question.text_question }}</p>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"> </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.send-vote').click(function(e){
            var thisCheck = $(this),
                answerId = $(e.currentTarget).parent().data('answer_id');

            if ( thisCheck.is(':checked') ){
                $.post('/answers/'+answerId+'/vote/');
            }
        });
    });
    </script>

        {% if user.is_authenticated() %}
            {% for answer in answers %}
                <li data-answer_id="{{ answer.Answers.id }}">{{ answer.Users.username }} : {{ answer.Answers.text_answer }} ({{ answer.Answers.votes }})
                    | vote <input type="checkbox" class="send-vote" {% if answer.Answers.id in voted_answers %}checked{% endif %}>
                </li>
            {% endfor %}

            <p>Enter Answer</p>

            <form method="POST" id="send-form">
                <input type="text" name="answer">
                <input type="submit">
            </form>

            <form method="GET" action="/exit/">
                <input type="submit" value="Exit">
            </form>

        {% else %}
            <form method="GET" action="/registration/">
                <input type="submit" value="Registration">
            </form>
            <form method="GET" action="/auth/">
                <input type="submit" value="Authorization">
            </form>
        {% endif %}

        <form method="GET" action='/'>
            <input type="submit" value="Main page">
        </form>
</body>
</html>