<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Question</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet", media="screen">
    <script type="text/javascript" src="/static/jquery.min.js"> </script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
        <p>Question: {{ question.text_question }}</p>

    <script type="text/javascript">
    $(document).ready(function(e) {
        $("input:checkbox:checked").attr("disabled", true);

        $('.send-vote').click(function(e){
            var thisCheck = $(this),
                answerId = $(e.currentTarget).parent().data('answer_id');

            $(e.currentTarget).attr("disabled", true);

            if ( thisCheck.is(':checked') ){
                $.post('/answers/'+answerId+'/vote/');
                    var vote_val = $(e.currentTarget).parent().find('span.count_votes');
                    vote_val.html(parseInt(vote_val.text()) + 1);
            }
        });
    });
    </script>

        {% if user.is_authenticated() %}
            {% for answer in answers %}
                <li data-answer_id="{{ answer.Answers.id }}">{{ answer.Users.username }} : {{ answer.Answers.text_answer }}
                    (<span class="count_votes">{{ answer.Answers.votes }}</span>)
                    | vote <input type="checkbox" class="send-vote" {% if answer.Answers.id in voted_answers %}checked{% endif %}>
                </li>
            {% endfor %}

            <p>Enter Answer</p>

            <form method="POST" id="send-form">
                <input type="text" name="answer">
                <input type="submit">
            </form>

            <form method="GET" action="/exit/">
                <input type="submit" value="Exit">
            </form>

        {% else %}
            {% for answer in answers %}
                <li data-answer_id="{{ answer.Answers.id }}">{{ answer.Users.username }} : {{ answer.Answers.text_answer }}
                (<span class="count_votes">{{ answer.Answers.votes }}</span>)
            {% endfor %}
            <form method="GET" action="/registration/">
                <input type="submit" value="Registration">
            </form>
            <form method="GET" action="/auth/">
                <input type="submit" value="Authorization">
            </form>
        {% endif %}

        <form method="GET" action='/'>
            <input type="submit" value="Main page">
        </form>
</body>
</html>