{% extends 'base.html' %}


    {% block title %}
        Welcome to my simple forum
    {% endblock %}

    {% block name_page %}
        <p class="lead">Registration</p>
    {% endblock %}

    {% block content %}
        <script src="/static/hide_registration_button.js"></script>
            <form method="POST">
                {% for field in form %}
                    {{ field.label }} {{ field }} <br>
                {% endfor %}
                <input class="btn btn-success" type="submit" value="Registration">
            </form>


        {% for key, value in errors.items() %}
            {{ key }} : {{ value }} <br>
        {% endfor %}

    {% endblock %}
